<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <h1>My Site</h1>
    <h1>About Me</h1>
    <h2>And my new site!</h2>
    <p>Work in progress. Check back soon!</p>
</body>